label {
	font-size: 150%;
	color: #444;
}

.btn-controlls button {
	margin: 1em 0;
	padding: .5em;
	border-radius: 1.5em;
	border-style: solid;
	color: #eee;
	font-size: 110%;
	background-color: #666;
}

.selectedHeroContainer {
	display: inline-block;
	margin: 2em auto;
	width: 20em;
	padding: 1em;
	border: .05em solid #888;
	border-radius: .75em;
	box-shadow: .35em .35em .5em #888;
	background-color: #eee;
}


@media only screen and (max-width: 450px){
	.selectedHeroContainer {
		position: relative;
		float:left;
		right: 1em;
		width: 100%;
	}
}

.selectedHeroContainer h2 {
	margin: 0em;
}

input{
	display: inline-block;
	padding: .5em 0em .3em .5em;
	margin: .25em 0;
	border-radius: .5em;
	border:none;
	box-shadow: 0em 0em .25em #000;
	font-size: 60%;
}

input:focus {
	outline:none;
	box-shadow: 0em 0em .25em #009AFF;
}